@charset "utf-8";

:root {
    --bazul: #0000FF;
    --bciano: #00FFFF;
    --blaranja: #FF4500;
    --bpreto: #202020;
    --broxo: #FF4500;
    --bverde: #00FF00;
    --bvermelho: #FF0000;
}

@media all {

    * {
        margin: 0;
        padding: 0;
    }

    /* Tags */

    body {
        background-color: blue;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        font-size: 3em;
        text-align: center;
    }

    header {
        background-color: var(--bpreto);
    }

    header img {
        width: 15px;
    }

    header a, span#burguer {
        color: white;
        display: inline-block;
        padding: 20px 10px;
        text-decoration: none;
    }

    header a:hover {
        background-color: blueviolet;
    }

    main > h1 {
        font-size: 4em;
        text-align: center;
    }

    /* Id */

    div#itens {
        background-color: aquamarine;
        height: 90vh;
        overflow-y: auto;
        width: 400px;
    }

    div#itens a {
        color: black;
        display: block;
        padding: 5px 10px;
        text-decoration: none;
    }

    div#itens a:hover {
        background-color: brown;
    }

    form#pesquisa {
        margin: 30px;
        text-align: center;
    }

    input#bpesquisa {
        background-color: rgb(0, 170, 0);
        border: none;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        height: 40px;
        width: 100px;
    }

    input#bpesquisa:hover {
        background-color: rgb(0, 150, 0);
    }

    input#tpesquisa {
        border: none;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
        height: 40px;
        text-indent: 20px;
        width: 50vw;
        max-width: 400px;
    }

    input#tpesquisa:focus {
        box-shadow: 0 0 0 0;
        border: none;
        outline: 0;
    }

    main#tech {
        background-color: white;
        border-radius: 10px;
        margin: 50px;
        padding: 10px 0px;
    }

    main#tech p {
        margin: 20px;
    }

    main#tech span#burguer {
        color: black;
    }

    span#burguer {
        cursor: pointer;
        padding: 11px;
    }

    /* Class */

    div.code {
        background-color: var(--bpreto);
        border-radius: 2px;
        border-left: 10px solid green;
        color: cyan;
        display: block;
        margin: auto;
        overflow-x: auto;
        padding: 20px;
        width: 80%;
    }

    div.tech {
        padding-bottom: 50px;
        width: 100%;
    }

    div.tech a {
        background-color: var(--bpreto);
        border-radius: 100px;
        color: white;
        display: block;
        font-size: 1.4em;
        margin: 20px auto;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        width: 300px;
    }

    div.tech a:hover {
        background-color: black;
    }

    div.tech img {
        display: block;
        margin: auto;
        width: 40vw;
    }

}

@media screen and (max-width: 1000px) {

    /* Tags */

    /* Id */

    div#itens {
        display: none;
        position: absolute;
        width: 90vw;
        z-index: 9999;
    }

    main#tech {
        display: block;
        margin: auto;
        width: 90%;
    }

    /* Class */

    div.tech img {
        width: 40vw;
    }
}

@media screen and (min-width: 1001px) {

    /* Tags */

    /* Id */

    div#itens {
        display: none;
        position: absolute;
        z-index: 9999;
    }

    main#tech {
        margin: auto;
        /*margin-left: 450px;*/
        width: 70%;
    }

    /* Class */

    div.tech img {
        width: 15vw;
    }
}



















































/* Cores de Fundo */

.bazul {
    background-color: var(--bazul);
}

.bciano {
    background-color: var(--bciano);
}

.blaranja {
    background-color: var(--blaranja);
}

.bpreto {
    background-color: var(--bpreto);
}

.broxo {
    background-color: var(--broxo);
}

.bverde {
    background-color: var(--bverde);
}

.bvermelho {
    background-color: var(--bvermelho);
}